@page
@model TravelApp.Pages.Pacotes.CreatePacoteTuristicoModel

@{
    ViewData["Title"] = "Criar Novo Pacote";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    <div class="col-md-6">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="PacoteTuristico.Titulo" class="control-label">Título</label>
                <input asp-for="PacoteTuristico.Titulo" class="form-control"/>
                <span asp-validation-for="PacoteTuristico.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PacoteTuristico.DataInicio" class="control-label">Data de Início</label>
                <input asp-for="PacoteTuristico.DataInicio" class="form-control" type="date"
                       value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="PacoteTuristico.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PacoteTuristico.CapacidadeMaxima" class="control-label">Capacidade Máxima</label>
                <input asp-for="PacoteTuristico.CapacidadeMaxima" class="form-control" type="number"/>
                <span asp-validation-for="PacoteTuristico.CapacidadeMaxima" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PacoteTuristico.Preco" class="control-label">Preço</label>
                <input asp-for="PacoteTuristico.Preco" class="form-control" type="number" step="0.01"/>
                <span asp-validation-for="PacoteTuristico.Preco" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SelectedDestinos" class="control-label">Destino</label>
                <select asp-for="SelectedDestinos" class="form-control" asp-items="Model.CidadesDestino" multiple>
                </select>
                <span asp-validation-for="SelectedDestinos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Criar</button>
                <a asp-page="/Pacotes/Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
