@page
@model TravelApp.Pages.Reservas.DeleteModel

@{
    ViewData["Title"] = "Remover Reserva";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que deseja remover esta reserva?</h3>
<div>
    <partial name="_ReservaDetail" model="Model.Reserva"/>

    <form method="post">
        <input type="hidden" asp-for="Reserva.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
