@page
@model TravelApp.Pages.Reservas.DetailsModel

@{
    ViewData["Title"] = "Editar Reserva";
}

<h1>@ViewData["Title"]</h1>

<partial name="_ReservaDetail" model="Model.Reserva"/>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Reserva.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
