@page
@model TravelApp.Pages.Cidades.IndexModel

@{
    ViewData["Title"] = "Lista de Cidades";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>@ViewData["Title"]</h2>
        <a asp-page="./CreateCidadeDestino" class="btn btn-primary">
            Nova Cidade
        </a>
    </div>

    @if (!Model.CidadesDestino.Any())
    {
        <partial name="_AlertMessage" model="@("Nenhuma cidade cadastrada ainda.")"/>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>País</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cidade in Model.CidadesDestino)
                {
                    <tr>
                        <td>@cidade.Nome</td>
                        <td>@cidade.PaisDestino?.Nome</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
